.header-text-box{
    position:absolute;
    top: 35%;
    width:100%;
    /* text-align: center; */
}
.header-div{
    height:100vh;
    background-color:rgb(73, 73, 122);
}
.header-text{
    text-align:center;
    color: white;
    /* display:block; */
    /* width: 100%; */
    /* border: 1px solid red; */
}
.brand-icon-design{
    position: absolute;
    top: 50px;
    right: 20px;
}
.brand-icon{
    font-size: 2.4rem;
    margin-right: 30px;
}
#tsparticles{
    height: 100vh;
}
.header-text-box h3{
    cursor:pointer;
    transition:.3s;
    font-size: 23px;
    border:3px solid white;
}
.arrow-icon{
    transition:.3s;
}
.header-text-box h3:hover{
    background-color:#04C2C9 ;
    border-color:#04C2C9;

}
.header-text-box h3:hover .arrow-icon{
   
    transform: rotate(90deg)
}
.work-text:hover{
    text-decoration: none;
}