.navigation-design{
    background-color: #252934;
    /* position: relative; */
    /* z-index: 1; */
    color: white;
    /* position:sticky ; */
}
.active-class{
    /* color: red; */
    background-color:rgb(143, 143, 143);
    border: 2px solid yellow;
}
